<ul class="nav d-flex justify-content-around bg-primary p-2">
    <li class="nav-item">
        <div class=" d-flex justify-content-start align-items-center px-1 text-light">
            <a class="text-light d-inline-flex" href="mailto:diego.hdz.glez@gmail.com" aria-label="Email">
                <i class="bi bi-envelope-fill fs-2 me-2"></i>
            </a>
            <span class="d-inline-flex">diego.hdz.glez&#64;gmail.com</span>
        </div>
    </li>
    <li class="nav-item">
        <div class=" d-flex justify-content-start align-items-center px-1 text-light">
            <a class="text-light d-inline-flex" href="tel:+14372493631" aria-label="Telephone">
                <i class="bi bi-telephone-fill fs-2 me-2"></i>
            </a>
            <span class="d-inline-flex">+1 249 3631</span>
        </div>
    </li>
    <li class="nav-item">
        <div class=" d-flex justify-content-start align-items-center px-1 text-light">
            <i class="bi bi-geo-alt-fill fs-2 "></i>
            <span>North York, ON</span>

        </div>
    </li>

    <li class="nav-item">
        <div class=" d-flex justify-content-start align-items-center px-1">
            <a class="text-light d-inline-flex" href="https://www.linkedin.com/in/diegohdzglez/" aria-label=""
                target="_blank" rel="noopener">
                <i class="bi bi-linkedin fs-2"></i>
            </a>
        </div>
    </li>

    <li class="nav-item">
        <div class=" d-flex justify-content-start align-items-center px-1">
            <a class="text-light d-inline-flex" href="https://github.com/DiegoHdz7" aria-label="LinkedIn profile"
                target="_blank" rel="noopener">
                <i class="bi bi-github fs-2"></i>
            </a>
        </div>
    </li>

</ul>